---
title: Tax information verification
category: wallet
section: wallet
language: en
source: https://support.mitgo.com/knowledge-base/article/tax-information-verification_2
---

# Tax information verification

Please note: Tax information is information on the payment beneficiary. It doesn't replace billing details. When creating a payment request, you can use the same verified tax information for different billing details. You don't have to add tax information and wait for it to be verified each time.


Verification usually takes 1 to 2 business days, but sometimes it may take longer (up to 5 days).


The verification result will be reflected in the status in the [Tax Information](https://earnings.admitad.com/tax-information) section: 

- Verified. Your tax information has successfully passed verification. You can now [add your billing details](https://admitad.useresponse.com/knowledge-base/article/how-to-add-billing-details_2/).
- Editing required. The information you provided contains errors. To correct them, open the context menu and click Edit.
- Obsolete. Your tax information is out of date. You can't edit it if it has this status. Just [add](https://earnings.admitad.com/tax-information) new, relevant tax information.

## FAQ

### What do I do if my tax information is being verified for more than 5 days?


Please contact [support](https://admitad.useresponse.com/knowledge-base/article/how-to-contact-admitad-support_6). We'll find out what's going on.
